{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Product'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ 'Edit Product'|trans }}</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
