<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th,
	td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: left;
	}
	thead {
		background: #f2f2f2;
	}
	tbody tr:nth-child(odd) {
		background: #f9f9f9;
	}
</style>
<div class="container">
	<h2>Product N:
		{{product.id}}</h2>
	<hr>
	<h5>Product informations</h5>
	<table class="table table-borderd">
		<thead>
			<th>Product name</th>
			<th>description</th>
			<th>price</th>
		</thead>
		<tr>
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td>{{product.price}}
				Dt</td>
		</tr>
	</table>
</div>
